.banner{

    
    
}
.banner-profile-pic{

}
.header{
    background-image: url('../images/Hero-bg.png');
    background-position:width:1440,height: 652px; ;

}
.nova{
    width: 244;height: 65;S
    
    color: black;
}
.sa{
    font-size: 45px;
    font-weight: 600;
}
.banner-description{
    float:;

}
.text{
    font: size 800px; ;
}
.sk{ position: right;
    width: 274.17;
    height: 240;


}
.sb{


}